<h1>Stupid Coaching</h1>

<form action="/answer">
<p>Ask your coach anything:</p>
  <input class="ask-form" type="text" name="answer" value="<%= params[:answer] %>">
  <input class="submit-btn" type="submit" value="Ask!">
</form>
